@if(isloading){
<section>
    
<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide><img src="./assets/images/FirstSlider.jpg" class="newWidth"  style="height: 300px;" alt="slider"></ng-template>  
  <ng-template carouselSlide><img src="./assets/images/slider2.jpg"   style="height: 300px;"class="newWidth"alt="slider"></ng-template>  
  <ng-template carouselSlide><img src="./assets/images/Slider3.jpg"  style="height: 300px;"class="newWidth" alt="slider"></ng-template> 
</owl-carousel-o>
</section>
}

<section class="mt-3">
  <div class="container">
      <div class="row">
          @for (item of MealData; track $index) {
          <div class="col-lg-3 col-md-4 col-12 gy-4">
                  <div class="card cr" [routerLink]="['/detailsMeal',item.idMeal]">
                      <img class="card-img-top" [src]="item.strMealThumb" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text">{{item.strMeal}}</p>
                      </div>
                    </div>
                  </div>
              }
      </div>
  </div>
</section>