<section class="mt-3">
    <div class="container">
        <div class="row">
            @for (item of _MealsHome; track $index) {
            <div class="col-lg-3 col-md-4 col-12 gy-4">
                    <div class="card cr" [routerLink]="['/detailsMeal',item.idMeal]">
                        <img class="card-img-top" [src]="item.strMealThumb" alt="Card image cap">
                        <div class="card-body">
                          <p class="card-text">{{item.strMeal}}</p>
                        </div>
                      </div>
                    </div>
                }@empty {
               
                    <div class="d-flex align-items-center flex-column gap-3 justify-content-center my-5">
                      <div class="d-flex">
                      <img src="./assets/images/notfound.png" alt="">
                      <h1>thre's no meals in this category yet</h1>
                    </div>
                    <div>
                      <button class="btn btn-outline-dark"routerLink="/Categories">Back to category</button>
                    </div>
                    </div>
                    
                  
                }
        </div>
    </div>
</section>