@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

a{
    text-decoration: none;
    color: white;
}
.cr{
    cursor: pointer;
}
.descr{
    display:-webkit-box;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card:hover img{
transform: scale(1.1);
overflow: hidden;
transition: 0.5s all ;
}
.card {
    overflow: hidden;
}
.card img {
    transition: transform 0.5s ;
}